@model IEnumerable<ProductConfigurator.WebUI.Models.PartViewModel>

@{
	
}

<script>

	//new datepickr('DeliveryDate');
	new datepickr('DeliveryDate', {
		'dateFormat': '20y-m-d'
	});
</script>


<div class="span6 center" style="margin-left:0px">
	@Html.DropDownList("PartList", Model.Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString(), Selected = false }), "Choose part ...")

	<br />
	<div id="PartDetails">


	</div>	
</div>
	
<div class="span6 center" style="position:absolute;margin:300px 0 0 320px">

		@using (Html.BeginForm("AddPart", "Admin"))
{
	@Html.Hidden("categoryId")
	@Html.TextBox("Name", null, new { @placeholder = "Part Name" })
	<br />
	 @Html.TextBox("Price", null, new { @placeholder = "Price" })
	 <br />
	 @Html.TextBox("DeliveryDate", null, new { @placeholder = "Delivery Date" })
	 <br />
	 @Html.TextBox("Code", null, new { @placeholder = "Part Code" })
	 <br />
	<input type="submit" id="newCat" value="New Part" />
}

</div>

