@{
    Layout = null;
	bool IsAuthenticated = User.Identity.IsAuthenticated;
	var user = User.Identity.Name;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
	<script src="~/bootstrap/js/bootstrap.min.js"></script>
    
	<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link href="~/Style/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
	<div>
		@if (!IsAuthenticated)
  {
		@Html.ActionLink("Login", "Login", "Account")
		<br />
		@Html.ActionLink("Create Account", "CreateAccount", "Account")
		<br />
  }
		else
  {
		@:Welcome, @User.Identity.Name
		<br />
		@Html.ActionLink("Logout", "Logout", "Account")
  }
		
	</div>
	<hr />
	<div class="row-fluid">
		<div class="span8 offset2">
			@RenderBody()
		</div>
	</div>

</body>
</html>
