@{
    Layout = null;
	bool IsAuthenticated = User.Identity.IsAuthenticated;
	var user = User.Identity.Name;
}

<!DOCTYPE html>

<html>
<head>
    
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Styles.Render("~/Content/css")

    <meta name="viewport" content="width=device-width" />
    <title>ProductKonfigurator</title>
</head>
<body>
	<div>
		@if (!IsAuthenticated)
  {
		@Html.ActionLink("Login", "Login", "Account")
		<br />
		@Html.ActionLink("Create Account", "CreateAccount", "Account")
	  <br />
		@Html.ActionLink("Forgot Password", "ForgotPassword", "Account")
		<br />
  }
		else
  {
		@:Welcome, @User.Identity.Name
		<br />
		@Html.ActionLink("Logout", "Logout", "Account")
	  <br />
		@Html.ActionLink("Change Parrword", "ChangePass", "Account")
  }
		
	</div>
	<hr />
	<div class="row-fluid">
		<div class="span8 offset2">
			@RenderBody()
		</div>
	</div>
</body>
</html>
