@model ProductConfigurator.WebUI.Models.OrderViewModel

@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderConfirmation</h2>

@using (Html.BeginForm("CreateOrder", "User"))
{
<fieldset>
    <legend>OrderViewModel</legend>
    
        

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
        @Html.HiddenFor(model => model.ProductName)
        @Html.HiddenFor(model => model.ProductId)
    </div>
        
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeliveryDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeliveryDate)
        @Html.HiddenFor(model => model.DeliveryDate)
    </div>
    <div class="display-field">
        @Html.DisplayNameFor(model => model.TotalPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPrice)
    </div>
        @Html.HiddenFor(model => model.TotalPrice)
    <br />
    <div>Components:</div>
    @{
        int i = 0;
      }
    @foreach (var item in Model.CategoryParts)
    {
        <div class="display-field">
            @Html.HiddenFor(x=>x.CategoryParts[i].PartId)
            @item.CategoryName : @item.PartName : @item.PartPrice
        </div>
        ++i;
    }
   
</fieldset>
    <input type="submit" />
    }
<p>
    
    @Html.ActionLink("Back to configuration", "Index")
</p>
