@model ProductConfigurator.WebUI.Models.OrderViewModel

@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderConfirmation</h2>

@using (Html.BeginForm("CreateOrder", "User"))
    {
<fieldset>
    <legend>OrderViewModel</legend>
    
        @Html.TextBoxFor(model => model.ProductName)

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductName)
    </div>
    <div class="display-field">
        
    </div>
        
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeliveryDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeliveryDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPrice)
    </div>
        @Html.HiddenFor(model => model.TotalPrice)
    <br />
    <div>Components:</div>
    @foreach (var item in Model.CategoryParts)
    {
        <div class="display-field">

            @item.CategoryName : @item.PartName
        </div>
    }
   
</fieldset>
    }
<p>
    @Html.ActionLink("Confirm", "CreateOrder", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to configuration", "Index")
</p>
